<h2> <%= @user.name %> </h2>


<ul>

<% @user.journals.each do |journal| %>

  <li><%= link_to "#{journal.name}", journal_path(journal) %></li>

<% end %>
</ul>

<a href='/journals/new'><button type="button">Create A New Journal</button></a>
